<!doctype html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TOSS - submit</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?render=6LebYrIUAAAAAEsnKuKX0z1Ds4FIrF36qNIkVWEu'></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('6LebYrIUAAAAAEsnKuKX0z1Ds4FIrF36qNIkVWEu', {action: 'homepage'}).then(function(token) {
                $('[name="recaptchaResponse"]').val(token);
            });
        });
    </script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href='https://www.facebook.com/Thompson-Organizational-Solutions-and-Services-417230382362166/'>TOSS on Facebook</a>
</nav>
<img src='/toss.jpg' alt='TOSS' width='400'>
<br>
<b>Success.</b>
<br>
</body>
</html>
